aesara==2.9.4
aiohttp==3.14.2
amdsmi==7.0.2
attr==0.3.2
blobfile==3.2.0
brotli==1.2.0
brotlicffi==1.2.0.1
cffi==2.1.0
cffi==2.0.0
chardet==7.4.3
checks==0.2
colorama==0.4.6
ConfigParser==7.2.0
coremltools==9.0
coverage==7.15.2
cryptography==49.0.0
ctypes_snappy==1.03
cubinlinker==0.0.1
Cython==3.2.8
deeplearning==0.0.1
dill==0.4.1
dl==0.1.0
docutils==0.23
envwrap==0.3.0
etcd==2.0.8
expecttest==0.3.0
fastparquet==2026.5.0
fb==0.4.0
fbscribelogger==0.1.7
flint==0.0.1
foo==.1
gmpy2==2.3.1
graphviz==0.21
h2==4.3.0
hatchet==1.4.1
helion==1.2.0
HTMLParser==0.0.2
hypothesis==6.158.1
importlib_resources==7.1.0
inflect==7.5.0
ini2toml==0.15
ipykernel==7.3.0
ipython==9.15.0
ipywidgets==8.1.8
isal==1.8.0
jax==0.11.0
jnius==1.1.0
kerchunk==0.2.10
keyring==25.7.0
lief==1.0.0
lxml==6.1.1
lz4==4.4.5
lzmaffi==0.3.0
matchpy==0.5.5
ml_dtypes==0.5.4
monkeytype==23.3.0
moviepy==2.2.1
mtrand==0.1
multiset==3.2.0
mypy==2.3.0
nbformat==5.10.4
objgraph==3.6.2
onnx_ir==0.2.1
onnxruntime==1.27.0
onnxscript==0.7.1
optree==0.19.1
pandas==3.0.3
paramiko==5.0.0
path.py==12.5.0
pexpect==4.9.0
Pillow==12.3.0
pkg1==0.0.3
psutil==7.2.2
pulp==3.3.2
pwlf==2.6.0
py==1.11.0
pyarrow==25.0.0
pycosat==0.6.6
pycute==0.1.0
pydy==0.9.4
pyelftools==0.33
pygit2==1.19.3
pyglet==2.1.15
pygraphviz==2.0.1
PyInstaller==6.21.0
pyinstrument==5.1.2
pymc==6.1.0
pymc3==3.11.6
pynvml==13.0.1
pyodide==0.0.2
pyOpenSSL==26.3.0
pysat==3.2.2
pytest_run_parallel==0.9.1
pytest_subtests==0.15.0
pytorch_lightning==2.6.5
PyYAML==6.0.3
r2pipe==1.9.8
redis==8.0.1
requests_kerberos==0.15.0
rocm_sdk==0.1.0
safetensors==0.8.0
sage==0.0.0
scipy_doctest==2.2.0
simplejson==4.1.1
slack_sdk==3.43.0
smbprotocol==1.17.0
Sphinx==9.1.0
symengine==0.14.1
tabulate==0.10.0
theano==1.0.5
thread==2.0.6
threadpoolctl==3.6.0
torch_tpu==0.0.0
torch_xla==2.9.0
torchaudio==2.11.0
torchcomms==0.0.1
torchrec==1.6.0
torchvision==0.28.0
trove_classifiers==2026.6.1.19
typeguard==4.5.2
ujson==5.13.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
xmlrunner==1.7.7
xx==4.0.0
yarl==1.24.5
z3==0.2.0
zstandard==0.25.0
